<template>
  <v-container fill-height class="back" style="max-width: 70%">
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="candidatos"
        sort-by="calories"
        class="elevation-1"
        style="opacity: 0.7"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Tabla de candidatos</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo Candidato
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          prepend-icon="account_circle"
                          v-model="name"
                          label="nombre"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="12">
                        <v-menu
                          ref="menu"
                          v-model="menu"
                          :close-on-content-click="false"
                          :return-value.sync="fecha_entrevista"
                          transition="scale-transition"
                          offset-y
                          min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="fecha_entrevista"
                              label="Picker in menu"
                              prepend-icon="event"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">
                              Cancel
                            </v-btn>
                            <v-btn
                              text
                              color="primary"
                              @click="$refs.menu.save(date)"
                            >
                              OK
                            </v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" sm="12" md="12">
                        <v-combobox
                          prepend-icon="check_circle"
                          v-model="habilidades"
                          :items="items"
                          label="habilidades"
                          multiple
                          chips
                        ></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancel
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="guardar">
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="60%">
              <v-card>
                <v-card-title class="text-h5"
                  >¿Seguro que quiere eliminar al candidato {{name}}? </v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)"> edit </v-icon>
          <v-icon small @click="deleteItem(item)"> delete </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-container>
</template>





<script>
import axios from "axios";
export default {
  data: () => ({
    date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    menu: false,
    modal: false,
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Fecha de entrevista", value: "fecha_entrevista" },

      { text: "Actions", value: "actions", sortable: false },
    ],
    candidatos: [],
    editedIndex: -1,
    _id: "",
    name: "",
    fecha_entrevista: "",
    habilidades: [],
    items: [ "Programming", "Design", "Vue", "Vuetify"],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Candidato" : "Editar Candidato";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.listar();
  },

  methods: {
    listar() {
      let me = this;
      axios
        .get("candidatos/list")
        .then((response) => {
          me.candidatos = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    limpiar() {
      this._id = "",
      this.name = "",
      this.fecha_entrevista = "",
      this.habilidades = ""
    },
    guardar() {
      let me = this;

      if (this.editedIndex > -1) {
        axios
          .put("candidatos/update", {
            _id: this._id,
            name: this.name,
            fecha_entrevista: this.fecha_entrevista,
            habilidades: this.habilidades,
          })
          .then((respose) => {
            me.limpiar();
            me.close();
            me.listar();
          })
          .catch((error) => {
            console.log(error)
          });
      } else {
        //Coidigo para guardar
        axios
          .post("candidatos/add", {
            name: this.name,
            fecha_entrevista: this.fecha_entrevista,
            habilidades: this.habilidades,
          })
          .then(function (respose) {
            me.limpiar();
            me.close();
            me.listar();
          })
          .catch(function (error) {
            console.log(error)
          });
      }
    },

    editItem(item) {
      this._id = item._id
      this.name = item.name;
      this.fecha_entrevista = item.fecha_entrevista;
      this.habilidades = item.habilidades;
      this.editedIndex = 1
      this.dialog = true;
    },

    deleteItem(item) {
      this._id = item._id;
      this.name = item.name
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      let me = this;
    axios
      .delete("candidatos/remove", {
        data: {

          _id: this._id,
        }
      })
      .then(function (respose) {
        me.closeDelete();
        me.listar();
      })
      .catch(function (error) {
        console.log(error);
      });
  
    },

    close() {
      this.editedIndex = -1;
      this.dialog = false;
      this.limpiar()
    },

    closeDelete() {
      this.editedIndex = -1;
      this.dialogDelete = false;
    },
  },
};
</script>

<style>
.back {
  background-position: center !important;
  background-size: 60% !important;
  background-image: url("../assets/SPS_logo.png");
  background-size: cover;
}
</style>
